.costumers {
    background: #F5F5F5;
}

.costumersTitle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #030303;

    margin: 0 0 54px;
    padding-top: 80px;
}

#costumersContainer {
    display: flex;
    flex-wrap: wrap;

    max-width: 776px;
    max-height: 436px;

    margin: 0 auto;
    padding: 0 24px 138px;
}

.costumersContainerBlock {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    
    width: 20%;
    min-width: 155px;
    height: 145px;

    border: 2px solid #efefef;
    padding: 8px;

    text-align: center;
}

.costumersImage {
    width: 100%;
    height: auto;

    object-fit: contain;

    transform-origin: 50% 65%;
    transition: transform .40s; 
  }
  
  .costumersImage:hover {
    transform: translate(0, -15px);
}

/* Mobile version */

@media screen and (max-width: 939px) {
    .costumersTitle {
        font-size: 24px;
        
        margin: 0 0 67px;
        padding-top: 94px;
    }
    
    #costumersContainer {
        max-width: 319px;
        max-height: 567px;

        padding: 0 0 87px;
    }

    .costumersContainerBlock {
        width: 33.3%;
        min-width: 106.3px;
        height: 113.4px;

        padding: 4px;
    }

}