.bannerImage{
    z-index: -1;
    position: absolute;
    filter: brightness(50%);
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.bannerWrapper{
    display: flex;
    position: relative;
    height: 768px;
}

.bannerContent{
    width: 1000px;
    margin: auto;
    padding: 0 24px;
}

.bannerTitle{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 46px;
    color: #FFFFFF;
    max-width: 540px;
    margin: 0 0 32px 0;
}

.bannerSubtitle{
   font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF; 
    max-width: 500px;
    margin: 0 0 32px 0;
}

.bannerCta{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #E10072;
    width: 266px;
    height: 56px;
    border-radius: 33px;
}

.bannerCta:hover,
.bannerCta:focus-visible {
  background: linear-gradient(90deg, #FFF 23.83%, #FFF 77.54%);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

.bannerCta:hover p,
.bannerCta:focus-visible {
  color: #E10072;
}

.bannerCta p{
    margin: 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}


@media (max-width: 1000px) {
    .bannerWrapper{
        height: 416px;
    } 
    
    .bannerContent{
        max-width: 374px;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: auto auto 27px auto;
    }

    .bannerTitle{
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 14px;
    }

    .bannerSubtitle{
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 24px;
    }
}